body {
    margin: 0px;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    padding: 0px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: -webkit-linear-gradient(270deg,rgba(255,0,4,1.00) 0%,rgba(0,21,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,0,4,1.00) 0%,rgba(0,21,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,0,4,1.00) 0%,rgba(0,21,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,0,4,1.00) 0%,rgba(0,21,255,1.00) 100%);
}
contentstart h2 {
    text-align: center;
	float:auto;

}

a {
    font-family: HelveticaNeue;
    color: #040303;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
nav {
    height: 35px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 15px 10px 0px 0px;
    background-color: #ffffff;
    border-bottom: 3px solid #600;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,21,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,21,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,21,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(0,21,255,1.00) 100%);
}
nav ul {
    width: auto;
    margin: 0px;
    padding: 0px;
    float: center;
}
nav li {
	width: auto;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}


header {
    height: 170px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding-top: px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #600;
    float: left;
    text-align: center;
    background-size: cover;
    background-color: #000000;
}
div.centered-section {
	width: 1000px;
	margin: 0px auto 0px auto;
	align-items: center;
}
.category {
    width: 300px;
    min-height: 420px;
    margin: 20px 0px 10px 25px;
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
    box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
}
.category h2 {
    margin: 0;
    padding: 10px;
    color: #034580;
    font-size: 20px;
    font-weight: 400;
	}
.category img {
	width: 300px;
	height: 175px;
	padding: 0px;
	margin: 0px ;
}
.category p {
	margin: -10px 0px -10px 0px;
	padding: 10px 10px 10px 10px;
}
.category p a {
    font-weight: bold;
    font-size: 13px;
}
footer {
	height: 10px;
	text-align: center;
	padding: 0px 0px 10px 0px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: left;
	margin-top: 0px;
}
footer p {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
}

.h {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 750px;
    margin-bottom: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    float: right;
}
.ky {
    width: 700px;
    height: 600px;
    margin: 20px 0px 10px 25px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
    box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
}
.ky img {
	width: 700px;
	height: 175px;
	padding: 0px;
	margin: 0px -30px -10px -10px;
}
.ky  h2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #034580;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
	}
.ky p {
	margin: -10px 0px -10px 0px;
	padding: 10px 10px 10px 10px;
}
.ky p a {
    font-weight: bold;
    font-size: 13px;
}
.center {
    margin-left: 450px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    
  }

  .btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    animation: buttonAnimation 2s forwards;
  }

  @keyframes buttonAnimation {
    0% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);

      background: transparent;
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      color: rgb(0, 0, 0);
      
      background-image: linear-gradient(0deg, #1fd1f9 0%, #b621fe 74%);
    }

    100% {
      -webkit-transform: scale(2) rotate(360deg);
      transform: scale(2) rotate(360deg);
      
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      
      background-image: linear-gradient(360deg, #1fd1f9 0%, #b621fe 74%);
    }
  }