body {
    margin: 0px;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    padding: 0px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(images/background.jpg);
    background-size: contain;
    background-position: 10px 0%;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
a {
    font-family: abril-fatface;
    color: #070606;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    text-align: left;
    float: left;
}
nav {
    height: 35px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 15px 10px 0px 0px;
    background-color: #ffffff;
    border-bottom: 3px solid #600;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,52,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,52,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,52,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(0,52,255,1.00) 100%);
}
nav ul {
    width: auto;
    margin: 0px;
    padding: 0px;
	float:center;
}
nav li {
	width: auto;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}
nav a {
    margin: 25px 0px 0px 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: right center;
    color: #FEFDFD;
    background-image: -webkit-linear-gradient(270deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    box-shadow: 0 10px 6px -6px #000000;
    -webkit-box-shadow: 0 10px 6px -6px #000000;
	border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
nav a:hover {

}
header {
    height: 290px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding-top: px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    background-color: #000000;
    border-bottom: 2px solid #600;
    float: left;
    text-align: center;
    background-size: px auto;
}
div.centered-section {
	width: 1000px;
	margin: 0px auto 0px auto;
	align-items: center;
}
.category {
    width: 300px;
    min-height: 420px;
    margin: 20px 0px 10px 25px;
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
    box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
}
.category h2 {
    margin: 0;
    padding: 10px;
    color: #034580;
    font-size: 20px;
    font-weight: 400;
	}
.category img {
	width: 300px;
	height: 175px;
	padding: 0px;
	margin: 0px -30px -10px -10px;
}
.category p {
	margin: -10px 0px -10px 0px;
	padding: 10px 10px 10px 10px;
}
.category p a {
    font-weight: bold;
    font-size: 13px;
    color: #9D2242;
}
footer {
	height: 10px;
	text-align: center;
	padding: 0px 0px 10px 0px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: left;
	margin-top: 0px;
}
footer p {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
}
footer a {
}
/* main content */
article {
background: url("images/background.jpg");
background-size: cover;
}
article div {
max-width: 1100px;
margin: 0 auto;
padding: 0 3% 1em;
background-color: ivory;
overflow: auto;
box-shadow: 0 10px 6px -6px #777;
}
h2 {
padding: 0.4em 0.4em 0;
text-align: center;
font-family: Bitter, "Times New Roman", Times, serif;
font-size: 2em;
font-weight: 700;
}
h3 {
margin-top: 1.4em;
font-size: 1.6em;
font-family: Bitter, "Times New Roman", Times, serif;
font-weight: 700;
clear: both;
}
article p {
padding-top: 1em;
}
article p.pullquote {
font-size: 1.7em;
}
article p.imagemap {
	text-align: center;
} 
article p.imagemap img {
	border: 1px solid black;
	max-width: none;
}
article figure {
max-width: 100%;
margin-left: 3em;
float: right;
}

/*aside element*/
aside{
	max-width: 100%;
	margin-left: 20em;
	float: relative;
	margin-right: 15em;
}

article figure.example {
margin-top: 2em;
}
article figcaption {
text-align: center;
}



/* footer section */
footer {
padding: 0.6em;
background-color: #b149bb;
color: ivory;
text-align: center;
}
.accent{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

span {
    width: 300px;
}
aside{
	  background-image: -webkit-linear-gradient(270deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(43,5,138,1.00) 0%,rgba(0,5,255,1.00) 100%);
    box-shadow: 0 10px 6px -6px #000000;
    -webkit-box-shadow: 0 10px 6px -6px #000000;
	border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.box{
    float: center;
    padding-left: 310px;
    padding-right: 310px;
}